@charset "UTF-8";
/* CSS Document */
.button {
	background-color: #0EFFE6;
	height: 105px;
	width: 250px;
	border-radius: 10px;
	position: relative;
	top: 80px;
	left: 40%;
    box-shadow: #9B9B9B 50px 10px 100px rgba(250, 250, 250, .7);;
	border: 2px solid #333333;
	border-color: #BFBFBF;
    animation-duration: 10s;
    animation-name: Colorchange;
	animation-iteration-count: infinite;
}

/* animating play and option buttons */

@keyframes Colorchange {
	0%   { background-color:#0EFFE6; width: 250px; height: 105px; top: 80px; left: 40%;}
    1%  { background-color:#EAFA05; width: 270px; height: 125px; top: 79px; left: 39%;}
    2%  { background-color:#2B42EC; width: 290px; height: 145px; top: 78px; left: 38%;}
    3%  { background-color:#33FC53;width: 310 px; height: 165px; top: 77px; left: 37%}
    4% { background-color:#29CAEF; width: 290px; height: 145px; top: 78px; left: 38%}
	5%  { background-color:#6E0AFF; width: 270px; height: 125px; top: 79px; left: 39%}
	6% {background-color:#0EFFE6; width: 250px; height: 105px; top: 80px; left: 40%}
	7%  { background-color:#EAFA05; width: 270px; height: 125px; top: 79px; left: 39%;}
    8%  { background-color:#2B42EC; width: 290px; height: 145px; top: 78px; left: 38%;}
    9%  { background-color:#33FC53;width: 310 px; height: 165px; top: 77px; left: 37%}
	10% { background-color:
	
}